In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
idx=[('a',100),('b',100),('a',200),('b',200)]

In [3]:
pop=[1000,2000,3000,4000]

In [5]:
p=pd.Series(pop,index=idx)

In [7]:
p[('a',100):('a',200)]

(a, 100)    1000
(b, 100)    2000
(a, 200)    3000
dtype: int64

In [9]:
index=pd.MultiIndex.from_tuples(idx)

In [10]:
index

MultiIndex([('a', 100),
            ('b', 100),
            ('a', 200),
            ('b', 200)],
           )

In [11]:
idx

[('a', 100), ('b', 100), ('a', 200), ('b', 200)]

In [12]:
index.levels

FrozenList([['a', 'b'], [100, 200]])

In [15]:
a=p.reindex(index)

In [17]:
a

a  100    1000
b  100    2000
a  200    3000
b  200    4000
dtype: int64

In [16]:
a[:,100]

a    1000
b    2000
dtype: int64

In [21]:
p

(a, 100)    1000
(b, 100)    2000
(a, 200)    3000
(b, 200)    4000
dtype: int64

In [26]:
s = pd.Series([2, 3, 4, 5],
             index=pd.MultiIndex.from_product([['one', 'two'],
                                               ['x', 'y']]))
s

one  x    2
     y    3
two  x    4
     y    5
dtype: int64

In [27]:
s.unstack()

     x  y
one  2  3
two  4  5

In [29]:
df=a.unstack()

In [30]:
df

    100   200
a  1000  3000
b  2000  4000

In [31]:
df.stack()

a  100    1000
   200    3000
b  100    2000
   200    4000
dtype: int64

In [34]:
new_df=pd.DataFrame({'total':pop,'under18':[9266,456564,456,565]})

In [35]:
new_df

   total  under18
0   1000     9266
1   2000   456564
2   3000      456
3   4000      565

In [36]:
new_df=pd.DataFrame({'total':s,'under18':[9266,456564,456,565]})

In [37]:
new_df

       total  under18
one x      2     9266
    y      3   456564
two x      4      456
    y      5      565

In [38]:
type(new_df)

pandas.core.frame.DataFrame

In [40]:
pd.Series.unstack(new_df['total']-new_df['under18'])

        x       y
one -9264 -456561
two  -452    -560

# multiindex constructors

In [41]:
pd.MultiIndex.from_arrays([['a','a','b','b'],[1,2,1,2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [43]:
pd.MultiIndex.from_tuples([('a',1),
                          ('a',2),
                         ('b',1),
                         ('b',2)])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [45]:
pd.MultiIndex.from_product([['a','b'],[1,2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [51]:
x=pd.MultiIndex(levels=[['a','b'],[1,2]],
              codes=[[0,0,1,1],[0,1,0,1]],
              names=['state','year'])

In [57]:
y=np.random.rand(4,2)

In [64]:
data=pd.DataFrame(y,index=x,columns=['high','weight'])

In [67]:
data

                high    weight
state year
a     1     0.395468  0.919927
      2     0.458127  0.651873
b     1     0.525939  0.085821
      2     0.368897  0.309938

In [75]:
data.loc['a',2]

high      0.458127
weight    0.651873
Name: (a, 2), dtype: float64

In [77]:
data.loc['a',2]['high']

0.45812654206596815

In [78]:
data.loc['a',2].loc['high']

0.45812654206596815

In [79]:
data.loc['a',:]

          high    weight
year
1     0.395468  0.919927
2     0.458127  0.651873

In [88]:
data.loc['a':'b','1':]

                high    weight
state year
a     1     0.395468  0.919927
      2     0.458127  0.651873
b     1     0.525939  0.085821
      2     0.368897  0.309938

In [98]:
data[data>0.4]

                high    weight
state year
a     1          NaN  0.919927
      2     0.458127  0.651873
b     1     0.525939       NaN
      2          NaN       NaN

In [102]:
data.loc['a',1]

high      0.395468
weight    0.919927
Name: (a, 1), dtype: float64

In [103]:
data.loc['a',2]

high      0.458127
weight    0.651873
Name: (a, 2), dtype: float64

In [109]:
data['high']

state  year
a      1       0.395468
       2       0.458127
b      1       0.525939
       2       0.368897
Name: high, dtype: float64

In [110]:
data['high']['a']

year
1    0.395468
2    0.458127
Name: high, dtype: float64

In [112]:
data['high'][:,1]

state
a    0.395468
b    0.525939
Name: high, dtype: float64

In [114]:
data.iloc[:2,:2]

                high    weight
state year
a     1     0.395468  0.919927
      2     0.458127  0.651873

In [115]:
data.unstack()

           high              weight
year          1         2         1         2
state
a      0.395468  0.458127  0.919927  0.651873
b      0.525939  0.368897  0.085821  0.309938

In [116]:
data

                high    weight
state year
a     1     0.395468  0.919927
      2     0.458127  0.651873
b     1     0.525939  0.085821
      2     0.368897  0.309938

In [117]:
data.stack()

state  year
a      1     high      0.395468
             weight    0.919927
       2     high      0.458127
             weight    0.651873
b      1     high      0.525939
             weight    0.085821
       2     high      0.368897
             weight    0.309938
dtype: float64

In [118]:
data.unstack().unstack()

        year  state
high    1     a        0.395468
              b        0.525939
        2     a        0.458127
              b        0.368897
weight  1     a        0.919927
              b        0.085821
        2     a        0.651873
              b        0.309938
dtype: float64

In [129]:
a=data.reset_index(['year','state'])

In [130]:
a

  state  year      high    weight
0     a     1  0.395468  0.919927
1     a     2  0.458127  0.651873
2     b     1  0.525939  0.085821
3     b     2  0.368897  0.309938

In [132]:
a.loc[0]

state            a
year             1
high      0.395468
weight    0.919927
Name: 0, dtype: object

In [133]:
a.set_index(['year','state'])

                high    weight
year state
1    a      0.395468  0.919927
2    a      0.458127  0.651873
1    b      0.525939  0.085821
2    b      0.368897  0.309938

In [134]:
a.set_index(['year','state','high'])

                       weight
year state high
1    a     0.395468  0.919927
2    a     0.458127  0.651873
1    b     0.525939  0.085821
2    b     0.368897  0.309938

In [135]:
a

  state  year      high    weight
0     a     1  0.395468  0.919927
1     a     2  0.458127  0.651873
2     b     1  0.525939  0.085821
3     b     2  0.368897  0.309938

In [136]:
data

                high    weight
state year
a     1     0.395468  0.919927
      2     0.458127  0.651873
b     1     0.525939  0.085821
      2     0.368897  0.309938

In [139]:
data.sum(level='year')

          high    weight
year
1     0.921407  1.005748
2     0.827023  0.961811

In [140]:
data.sum(level='state')

           high    weight
state
a      0.853595  1.571800
b      0.894835  0.395759

In [148]:
data['high'].sum(axis=0)

1.7484302938237053

In [149]:
data['high'].sum()

1.7484302938237053

In [150]:
data['high']

state  year
a      1       0.395468
       2       0.458127
b      1       0.525939
       2       0.368897
Name: high, dtype: float64

In [151]:
type(data['high'])

pandas.core.series.Series

In [156]:
b=data.mean(level='year')

In [157]:
b

          high    weight
year
1     0.460704  0.502874
2     0.413512  0.480906

In [161]:
b.mean()

high      0.437108
weight    0.491890
dtype: float64

In [162]:
b.mean(axis=0)

high      0.437108
weight    0.491890
dtype: float64

In [163]:
b.mean(axis=1)

year
1    0.481789
2    0.447209
dtype: float64