In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [4]:
import seaborn as sns

In [6]:
x=np.array([2,3,5,7,11,13])
x*2

array([ 4,  6, 10, 14, 22, 26])

In [7]:
#string vector
data=['peter','Paul','MARY','gYIDO']
[s.capitalize() for s in data]

['Peter', 'Paul', 'Mary', 'Gyido']

In [8]:
#cannot handle missing value, like 'None.'
data=['peter','Paul','MARY',None,'gYIDO']
[s.capitalize() for s in data]

AttributeError: 'NoneType' object has no attribute 'capitalize'

In [9]:
names=pd.Series(data)
names

0    peter
1     Paul
2     MARY
3     None
4    gYIDO
dtype: object

In [11]:
names.str.capitalize()

0    Peter
1     Paul
2     Mary
3     None
4    Gyido
dtype: object

In [12]:
monte=pd.Series(['Graham Chapman','John Cleese','Terry Gilliam','Eric Idle','Terry Jones','Michael Palin'])

In [13]:
monte.str.lower()

0    graham chapman
1       john cleese
2     terry gilliam
3         eric idle
4       terry jones
5     michael palin
dtype: object

In [14]:
monte.str.len()

0    14
1    11
2    13
3     9
4    11
5    13
dtype: int64

In [17]:
monte.str.casefold()

0    graham chapman
1       john cleese
2     terry gilliam
3         eric idle
4       terry jones
5     michael palin
dtype: object

In [18]:
monte.str.startswith('T')

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [19]:
monte.str.split()

0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object

In [25]:
str.rsplit('A B C D',maxsplit=1)

['A B C', 'D']

In [26]:
str.split('A B C D',maxsplit=1)

['A', 'B C D']

In [23]:
str.split?

In [28]:
monte.str.extract('([A-Za-z]+)')

         0
0   Graham
1     John
2    Terry
3     Eric
4    Terry
5  Michael

In [31]:
monte.str.findall(r'^[^AEIOU].*[^aeiou]$')

0    [Graham Chapman]
1                  []
2     [Terry Gilliam]
3                  []
4       [Terry Jones]
5     [Michael Palin]
dtype: object

In [32]:
monte.str.findall('^[^AEIOU].*[^aeiou]$')

0    [Graham Chapman]
1                  []
2     [Terry Gilliam]
3                  []
4       [Terry Jones]
5     [Michael Palin]
dtype: object

In [34]:
monte.str.findall?

In [35]:
monte.str.slice(0,3)

0    Gra
1    Joh
2    Ter
3    Eri
4    Ter
5    Mic
dtype: object

In [38]:
monte.str.split().str.get(-1)

0    Chapman
1     Cleese
2    Gilliam
3       Idle
4      Jones
5      Palin
dtype: object

In [42]:
monte.str.get_dummies?

In [58]:
!curl -0 https://s3.amazonaws.com/openrecipes/20170107-061401-recipeitems.json.gz --output recipeitems.json.gz

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 29.3M  100 29.3M    0     0  3059k      0  0:00:09  0:00:09 --:--:-- 4171k

In [59]:
!gunzip recipeitems.json.gz

In [60]:
! ls -rth

pandas.ipynb
data_selection.ipynb
operaing.ipynb
missing_data.ipynb
hierarchical_indexing.ipynb
combining_datasets.ipynb
aggregation_and_grouping.ipynb
VSRR_-_State_and_National_Provisional_Counts_for_Live_Births__Deaths__and_Infant_Deaths.csv
pivot_table.ipynb
recipeitems-latest.json
vectorized_string.ipynb
recipeitems.json

In [63]:
try:
    recipes=pd.read_json('recipeitems.json')
except ValueError as e:
    print("ValueError:",e)

ValueError: Trailing data

In [65]:
with open('recipeitems.json') as f:
    line=f.readline()
pd.read_json(line).shape

(2, 12)

In [66]:
with open('recipeitems.json') as f:
    data=(line.strip() for line in f)
    data_json="[{0}]".format(','.join(data))
    
recipes=pd.read_json(data_json)

In [67]:
recipes.shape

(173278, 17)

In [69]:
recipes.iloc[0]

_id                                {'$oid': '5160756b96cc62079cc2db15'}
name                                    Drop Biscuits and Sausage Gravy
ingredients           Biscuits\n3 cups All-purpose Flour\n2 Tablespo...
url                   http://thepioneerwoman.com/cooking/2013/03/dro...
image                 http://static.thepioneerwoman.com/cooking/file...
ts                                             {'$date': 1365276011104}
cookTime                                                          PT30M
source                                                  thepioneerwoman
recipeYield                                                          12
datePublished                                                2013-03-11
prepTime                                                          PT10M
description           Late Saturday afternoon, after Marlboro Man ha...
totalTime                                                           NaN
creator                                                             NaN
recipeCategory                                                      NaN
dateModified                                                        NaN
recipeInstructions                                                  NaN
Name: 0, dtype: object

In [70]:
recipes['ingredients'].str.len().describe()

count    173278.000000
mean        244.617926
std         146.705285
min           0.000000
25%         147.000000
50%         221.000000
75%         314.000000
max        9067.000000
Name: ingredients, dtype: float64

In [72]:
l=np.argmax(recipes['ingredients'].str.len())

In [75]:
recipes.iloc[l]['name']

'Carrot Pineapple Spice &amp; Brownie Layer Cake with Whipped Cream &amp; Cream Cheese Frosting and Marzipan Carrots'

In [76]:
recipes.description.str.contains('[Bb]reakfast').sum()

3524

In [77]:
recipes.description.str.contains('[Cc]innamon').sum()

2290

In [78]:
recipes.ingredients.str.contains('[Cc]innamon').sum()

10526

In [79]:
recipes.ingredients.str.contains('[Cc]inamon').sum()

11